Thumbs.db

Desktop.ini

$RECYCLE.BIN/

*.log
*.suo
*.cache
*.sdf
*.opensdf
*.user
*.opendb
*.bak
bin
obj
Release
Debug
x64
.vs
ipch
*~

/packages/
/tools/
/AccountingServer.BLL/Parsing/Query.tokens
/AccountingServer.BLL/Parsing/QueryLexer.cs
/AccountingServer.BLL/Parsing/QueryLexer.tokens
/AccountingServer.BLL/Parsing/QueryParser.cs
/AccountingServer.BLL/Parsing/Subtotal.tokens
/AccountingServer.BLL/Parsing/SubtotalLexer.cs
/AccountingServer.BLL/Parsing/SubtotalLexer.tokens
/AccountingServer.BLL/Parsing/SubtotalParser.cs

# IDEs
.idea
.vs
.vscode
