Thumbs.db

Desktop.ini

$RECYCLE.BIN/

*.log
*.suo
*.cache
*.sdf
*.opensdf
*.user
*.opendb
*.bak
bin
obj
Release
Debug
x64
.vs
ipch
*~

/packages/
/AccountingServer.BLL/Parsing/Query.tokens
/AccountingServer.BLL/Parsing/QueryLexer.cs
/AccountingServer.BLL/Parsing/QueryLexer.tokens
/AccountingServer.BLL/Parsing/QueryParser.cs
/AccountingServer.Shell/Parsing/Shell.tokens
/AccountingServer.Shell/Parsing/ShellLexer.cs
/AccountingServer.Shell/Parsing/ShellLexer.tokens
/AccountingServer.Shell/Parsing/ShellParser.cs
