Thumbs.db

Desktop.ini

$RECYCLE.BIN/

*.log
*.suo
*.cache
*.sdf
*.opensdf
*.user
*.opendb
*.bak
bin
obj
Release
Debug
x64
.vs
ipch
*~

/packages/
/AccountingServer.Shell/Parsing/Shell.tokens
/AccountingServer.Shell/Parsing/ShellLexer.cs
/AccountingServer.Shell/Parsing/ShellLexer.tokens
/AccountingServer.Shell/Parsing/ShellParser.Creator.cs
/AccountingServer.Shell/Parsing/ShellParser.cs
