<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta content="ie=edge" http-equiv="x-ua-compatible">
    <meta name="description" content="Professional Accounting">

    <title>Professional Accounting</title>

  </head>
  <body>

    <div id="app"></div>

    <% if (htmlWebpackPlugin.options.inject) { %>
      <script src="/dll/main.dll.js"></script>
    <% } %>
  </body>
</html>
